<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>ログイン画面</title>
	<style>
		body {
			color: orange;
			background-color: aqua;
		}
		p{ color: pink; }
		.em { font-size: 2.0em;	}
		.center { text-align: center; }
		.double { border: double 5px plum; }
		.dashed { border: dashed 5px deeppink; }
		.aligin { box-align: center; }
		
	</style>
</head>
	
<body>
	<div class="container"><p class="em double">ログイン画面</p></div>
	<hr aligin=center color=white>
	<div class=center><br>ログインIDとパスワードを入力してください<br><br></div>
	
	<div class=center><p class="dashed">
		ログインID:<input path="useeID" size="20"/><br>
		パスワード:<input path="passward" size="21"/><br>
	</p></div>
	
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2RUg_9rpNKqI9rV3-2CPZuYsiO6NkIJYwYw&s" aligin=center>
	<p class="em"><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2RUg_9rpNKqI9rV3-2CPZuYsiO6NkIJYwYw&s">画像参照</a>こちらまで</p><br>
</body>

</html>